@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button type="button" class="btn btn-answer-red">Primary</button>
<button type="button" class="btn btn-answer-red-light">Secondary</button>
<button type="button" class="btn btn-answer-gray">Success</button>
<button type="button" class="btn btn-answer-green-light">Danger</button>
<button type="button" class="btn btn-answer-green">Warning</button>
<button type="button" class="btn btn-lemon">Info</button>

<button type="button" class="btn btn-link">Link</button>